.movieRow {
  margin-bottom: 30px;
}

.movieRow h2 {
  margin-left: 30px;
}

.movieRowlistArea {
  overflow-x: hidden;
  padding-left: 30px;
}

.movieRowList {
  display: flex;
}

.movieRowItem {
  display: inline-block;
  cursor: pointer;
  width: 150px;
}

.movieRowItem img {
  width: 100%;
  transform: scale(0.9);
  transition: all ease 0.3s;
}

.movieRowItem img:hover {
  transform: scale(1);
}